@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


#container {
  width: 100%;
  /* border: 1px solid red; */
}

h5 {
  color: rgb(114, 167, 33);
  font-size: 18px;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 10px;
}

#gallary-parent,
#review-child1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* margin: 50px; */
  padding: 50px;
  line-height: 30px;
}

/* --------------------------------------- */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  height: 70px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.4); /* White + Transparent */
  backdrop-filter: blur(5px);           /* Slight blur effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#logo {
  width: 120px;
  margin-left: 18px;
}

#logo img {
  width: 100%;
}

#navbar {
  width: 100%;
  display: block;
}

#icon {
  width: 6%;
  margin-right: 18px;
}

#navbar nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0px 15px;
  color: rgb(101, 100, 100);
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

a:hover {
  color: rgb(132, 185, 54);;
}


#menu {
  display: none; /* hidden on laptop/desktop */
  font-size: 30px;
  cursor: pointer;
}

/* header end  */

#hero {
  margin-top: 70px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(4px) brightness(50%);
  z-index: -1;
}

#hero h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  z-index: 1;
}
/* hero end  */

#gallary {
  background-color: rgb(235, 235, 235);
}

#gallary-unique {
  text-align: center;
  padding-top: 40px;
}

.gallary-child {
  width: 32%;
  padding: 5px;
  text-align: center;
}

.gallary-child img {
  width: 100%;
}
/* gallary end  */

#review-unique {
  text-align: center;
  margin-top: 50px;
}

.review {
  width: 32%;
  border: 1px solid rgb(114, 167, 33);
  padding: 20px;
}

.review h4 {
  margin-top: 20px;
}
.p-green {
  color: rgb(114, 167, 33);
  font-size: 14px;
  font-weight: 500;
}

.review img {
  width: 100%;
}
/* review end  */


#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 400px;
}

#footer {
  background-color: rgb(54, 65, 54);
  padding: 50px;
}

#footer h3 {
  color: whitesmoke;
  padding: 10px;
}

#footer h5 {
  color: whitesmoke;
  padding: 5px;
}

#footer p {
  color: rgb(136, 133, 133);
  padding: 6px;
  line-height: 30px;
}

.footer-child {
  width: 24%;
}

.footer-child img {
  width: 30%;
}

.footer-child i {
  font-size: 25px;
  color: white;
  margin-top: 5px;
}

#footer-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-gallary {
  width: 32%;
}

.footer-gallary img {
  width: 100%;
}

#copy {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

#copy p {
  color: whitesmoke;
  font-size: 14px;
}

span {
  color: rgb(138, 202, 42);
}
/* footer end  */

/* Responsive  */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #navbar {
    display: none;
  }

  #menu {
    display: block;
    font-size: 20px;
  }

  #logo {
    width: 80px;
  }

  #logo img {
    width: 100%;
  }

  #header {
    height: 65px;
    padding: 5px 15px;
    background-color: rgb(175, 228, 95);
  }

  #icon {
    display: none;
  }

   #hero{
    margin-top: 50px;
  }

  .hero-child {
    width: 100%;
  }

  .review-child,
  .review {
    width: 48%;
    margin-bottom: 20px;
  }

  .gallary-child {
    width: 50%;
  }

  #footer {
    height: auto;
    padding: 30px;
  }

  .footer-child {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #navbar {
    display: none;
  }

  #menu {
    display: block;
    font-size: 20px;
  }

  #logo {
    width: 80px;
  }

  #logo img {
    width: 100%;
  }

  #header {
    height: 60px;
    padding: 5px 15px;
    background-color: rgb(175, 228, 95);
  }

  #icon {
    display: none;
  }

   #hero{
    margin-top: 50px;
  }

  .hero-child,
  .review,
  .footer-child {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallary-child {
    width: 100%;
  }

  #footer {
    height: auto;
    padding: 30px;
  }
}
